<%= form_for @post do |f| %>
  

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, type: 'form' %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  
  <div>
    <%= f.label :wish %>
    <%= f.text_area :wish %>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Good Luck"
          data-amount="500"
          data-locale="auto"></script> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $form = $('#new_post'); // cache
      $form.find(':input[type="submit"]').prop('disabled', true); // disable submit btn
      $form.find(':input').change(function() { // monitor all inputs for changes
          var disable = false;
          $form.find(':input').not('[type="submit"]').each(function(i, el) { // test all inputs for values
              if ($.trim(el.value) === '') {
                  disable = true; // disable submit if any of them are still blank
              }
          });
          $form.find(':input[type="submit"]').prop('disabled', disable);
      });
    });
  </script>

<% end %>


<!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Good Luck"
          data-amount="500"
          data-locale="auto"></script>